ATLAS_DOMAIN=api.seudominio.com
ATLAS_CORS_ORIGINS=https://admin.seudominio.com
ATLAS_POSTGRES_PASSWORD=CHANGE_ME_DATABASE_PASSWORD
ATLAS_JWT_SECRET=CHANGE_ME_64_RANDOM_CHARACTERS
ATLAS_MFA_ENCRYPTION_KEY=CHANGE_ME_64_RANDOM_CHARACTERS
ATLAS_IOT_INGEST_KEY=CHANGE_ME_64_RANDOM_CHARACTERS
ATLAS_EMAIL_SENDER=no-reply@seudominio.com
ATLAS_BACKUP_RETENTION_DAYS=30
ATLAS_ATTACHMENT_MAX_MB=25
